@model IEnumerable<Asteroid_API.Models.Quotes>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recommendation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recommendation)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Percentage">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Percentage">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Percentage">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
